<div class="DivCenterTable example-container ">
    <div>
        <header id="page-header">
            <h1>Productos</h1>
        </header>
    </div>

    <div>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="Icon">
                <th mat-header-cell *matHeaderCellDef style="width: 10%"></th>
                <td mat-cell *matCellDef="let table">
                    <mat-icon class="example-icon">fastfood</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="Nombre" sticky>
                    <th mat-header-cell *matHeaderCellDef style="width: 20%"> Nombre </th>
                    <td mat-cell *matCellDef="let menu"> {{menu.Nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Carta" sticky>
                    <th mat-header-cell *matHeaderCellDef style="width: 20%"> Carta </th>
                    <td mat-cell *matCellDef="let menu"> {{menu.Carta.Nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Clasificacion" sticky>
                <th mat-header-cell *matHeaderCellDef style="width: 20%"> Clasificacion </th>
                <td mat-cell *matCellDef="let menu"> {{menu.Clasificacion.Descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="Descripcion" sticky>
                    <th mat-header-cell *matHeaderCellDef style="width: 20%"> Descripcion </th>
                    <td mat-cell *matCellDef="let menu"> {{menu.Descripcion}} </td>
            </ng-container>
            

            <ng-container matColumnDef="Accion">
                <th mat-header-cell *matHeaderCellDef style="width: 10%"></th>
                <td mat-cell *matCellDef="let product">
                    <app-action-menu [urlRedirect]="'Product/ABM'" [parametros]="[product.Id]"></app-action-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br>
        <div>
            <div class="row">
                <div class="col-sm-12 col-md-12 form-group">
                    <button type="button" mat-raised-button color="primary" (click)="newProduct()">Nuevo Producto</button>
                </div>
            </div>
        </div>
    </div>
</div>