<div class="DivCenter">
        <form [formGroup]="menuForm">
      
            <div class="panel-heading">
                <strong>ABM Mesas</strong>
            </div>
      
            <fieldset [disabled]="!editable">
                <div class="tabs white nomargin-top">
                    <div class="tab-content">
                        <div id="Principal" class="tab-pane active">
                            <div class="panel panel-default">
                                <div class="panel-body">
      
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group fancy-form2">
                                            <mat-form-field class="example-full-width">
                                                <input formControlName="Numero" name="Numero" matInput placeholder="Numero de Mesa">
                                            </mat-form-field>
                                            <div *ngIf="submitted &&f.Numero.errors" class="LabelError">
                                                <div *ngIf="submitted && f.Numero.errors.required">El numero de mesa es Requerido</div>
                                                <div *ngIf="submitted && (f.Numero.errors.min || f.Numero.errors.max)">Debe ingresar un numero entre 1 y 200</div>
                                            </div>
                                        </div>
                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      
                <div class="panel panel-default" *ngIf="editable">
  
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
                                    <button class="btn-space" type="button" mat-raised-button color="primary" (click)="save()">Guardar</button>
                                    <button class="btn-space" type="button" mat-raised-button color="warn" (click)="cancel()">cancelar</button>
                                </div>
                            </div>
          
                        </div>
                </div>
            </fieldset>
        </form>
      
        <div class="panel panel-default" *ngIf="actionComplete">
            <div class="alert alert-success" role="alert">
                La acción fue completada
            </div>
        </div>
      
        <div class="panel panel-default" *ngIf="!editable">
                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
                                <button class="btn-space" type="button" mat-raised-button color="primary" (click)="delete()" *ngIf="action=='B' && !actionComplete">Eliminar</button>
                                <button class="btn-space" type="button" mat-raised-button color="warn" (click)="cancel()">Regresar</button>
                            </div>
                        </div>
                </div>
        </div>
      </div>