/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.css";


.DivCenterTable{
    margin: 0 auto;
    text-align: -webkit-center;
    width: 90%;
}

.DivCenterFull{
    margin: 0 auto;
    text-align: -webkit-center;
    width: 100%;
}

.DivCenter{
    margin: 0 auto;
    text-align: -webkit-center;
    width: 90%;
}

.LabelError{
    text-align: left; 
    color:red;
}
table{
    width: 100%; 
}

.mat-header-cell  {
    background-color:#cce0ff; 
    font-size:14px;
    font-weight: bold;
}

