/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.css";


.DivCenter{
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-left: 10%;
    background-color:gainsboro;
}

html, body {
    height: 100%;
    margin: 0;
  }